
h1{
	font-size: 75px;
	margin-bottom: 25px;
	text-align: center;
	font-family:"Nothing You Could Do";
}
h4{
	text-align: center;
	font-size: 25px;
	font-family:"Lucida Sans Unicode";
}
h5{
	font-size: 25px;
	margin-left: 200px;
	margin-right:200px;
	margin-top: 50px;
	margin-bottom: 200px;
	text-align: left;
}
body{
	background-image: Linear-gradient(green,white,green);
	font-family: "Lucida Sans Unicode";

}
img{
	height: 500px;
	width:500px;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
div{
	font-style: italic;
}
